.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
htmlcov

.projectile
.venv/
venv/
.mypy_cache/
*.egg-info/
.python-version

# Visual Studio Code
.vscode/*
!.vscode/tasks.json
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
