sentences/ar/ @Ahmed-farag36 @Natfaji
responses/ar/ @Ahmed-farag36 @Natfaji
tests/ar/ @Ahmed-farag36 @Natfaji

sentences/bg/ @hristo-atanasov
responses/bg/ @hristo-atanasov
tests/bg/ @hristo-atanasov

sentences/ca/ @duhow
responses/ca/ @duhow
tests/ca/ @duhow

sentences/cs/ @halecivo @schizza
responses/cs/ @halecivo @schizza
tests/cs/ @halecivo @schizza

sentences/da/ @MTrab @fadamsen
responses/da/ @MTrab @fadamsen
tests/da/ @MTrab @fadamsen

sentences/de/ @andreasbrett @easterapps @mib1185
responses/de/ @andreasbrett @easterapps @mib1185
tests/de/ @andreasbrett @easterapps @mib1185

sentences/de-CH/ @dontinelli
responses/de-CH/ @dontinelli
tests/de-CH/ @dontinelli

sentences/el/ @chatziko
responses/el/ @chatziko
tests/el/ @chatziko

sentences/en/ @mrdarrengriffin @tetele @vividboarder
responses/en/ @mrdarrengriffin @tetele @vividboarder
tests/en/ @mrdarrengriffin @tetele @vividboarder

sentences/es/ @davefx
responses/es/ @davefx
tests/es/ @davefx

sentences/eu/ @urtzai
responses/eu/ @urtzai
tests/eu/ @urtzai

sentences/fi/ @Arkkimaagi @salleq
responses/fi/ @Arkkimaagi @salleq
tests/fi/ @Arkkimaagi @salleq

sentences/fr/ @jlpouffier @piitaya
responses/fr/ @jlpouffier @piitaya
tests/fr/ @jlpouffier @piitaya

sentences/gl/ @cibernox
responses/gl/ @cibernox
tests/gl/ @cibernox

sentences/he/ @haim-b @leranp
responses/he/ @haim-b @leranp
tests/he/ @haim-b @leranp

sentences/hr/ @spuljko
responses/hr/ @spuljko
tests/hr/ @spuljko

sentences/hu/ @nagyrobi @v1k70rk4
responses/hu/ @nagyrobi @v1k70rk4
tests/hu/ @nagyrobi @v1k70rk4

sentences/is/ @thdg
responses/is/ @thdg
tests/is/ @thdg

sentences/it/ @auanasgheps @xraver
responses/it/ @auanasgheps @xraver
tests/it/ @auanasgheps @xraver

sentences/ka/ @hertzg
responses/ka/ @hertzg
tests/ka/ @hertzg

sentences/ko/ @limitless00net
responses/ko/ @limitless00net
tests/ko/ @limitless00net

sentences/lb/ @mojikosu
responses/lb/ @mojikosu
tests/lb/ @mojikosu

sentences/lt/ @ErnestStaug
responses/lt/ @ErnestStaug
tests/lt/ @ErnestStaug

sentences/lv/ @klejejs @makstech
responses/lv/ @klejejs @makstech
tests/lv/ @klejejs @makstech

sentences/ml/ @arunshekher
responses/ml/ @arunshekher
tests/ml/ @arunshekher

sentences/mn/ @chuk-a
responses/mn/ @chuk-a
tests/mn/ @chuk-a

sentences/ms/ @zubir2k
responses/ms/ @zubir2k
tests/ms/ @zubir2k

sentences/nb/ @LaStrada
responses/nb/ @LaStrada
tests/nb/ @LaStrada

sentences/nl/ @TheFes
responses/nl/ @TheFes
tests/nl/ @TheFes

sentences/pl/ @Uriziel01 @witold-gren
responses/pl/ @Uriziel01 @witold-gren
tests/pl/ @Uriziel01 @witold-gren

sentences/pt/ @abmantis @joaorgoncalves @nikito7
responses/pt/ @abmantis @joaorgoncalves @nikito7
tests/pt/ @abmantis @joaorgoncalves @nikito7

sentences/pt-br/ @luyzfernando08 @mhentschke
responses/pt-br/ @luyzfernando08 @mhentschke
tests/pt-br/ @luyzfernando08 @mhentschke

sentences/ro/ @gabimarchidan @tetele
responses/ro/ @gabimarchidan @tetele
tests/ro/ @gabimarchidan @tetele

sentences/ru/ @HepoH3
responses/ru/ @HepoH3
tests/ru/ @HepoH3

sentences/sk/ @LubosKadasi
responses/sk/ @LubosKadasi
tests/sk/ @LubosKadasi

sentences/sl/ @andrejs2
responses/sl/ @andrejs2
tests/sl/ @andrejs2

sentences/sr/ @cvladan
responses/sr/ @cvladan
tests/sr/ @cvladan

sentences/sv/ @larsdunemark
responses/sv/ @larsdunemark
tests/sv/ @larsdunemark

sentences/sw/ @BCorbeek
responses/sw/ @BCorbeek
tests/sw/ @BCorbeek

sentences/tr/ @alpdmrel
responses/tr/ @alpdmrel
tests/tr/ @alpdmrel

sentences/uk/ @skynetua
responses/uk/ @skynetua
tests/uk/ @skynetua

sentences/ur/ @AalianKhan
responses/ur/ @AalianKhan
tests/ur/ @AalianKhan

sentences/vi/ @dinhchinh82
responses/vi/ @dinhchinh82
tests/vi/ @dinhchinh82

sentences/zh-cn/ @al-one
responses/zh-cn/ @al-one
tests/zh-cn/ @al-one

sentences/zh-hk/ @swonge
responses/zh-hk/ @swonge
tests/zh-hk/ @swonge

sentences/zh-tw/ @bluefoxlee
responses/zh-tw/ @bluefoxlee
tests/zh-tw/ @bluefoxlee
