sentences/de/ @Scorpoon
responses/de/ @Scorpoon
tests/de/ @Scorpoon

sentences/fr/ @benjaminlecouteux
responses/fr/ @benjaminlecouteux
tests/fr/ @benjaminlecouteux

sentences/he/ @haim-b @leranp
responses/he/ @haim-b @leranp
tests/he/ @haim-b @leranp

sentences/hu/ @nagyrobi
responses/hu/ @nagyrobi
tests/hu/ @nagyrobi

sentences/it/ @auanasgheps @xraver
responses/it/ @auanasgheps @xraver
tests/it/ @auanasgheps @xraver

sentences/nl/ @TheFes
responses/nl/ @TheFes
tests/nl/ @TheFes

sentences/ru/ @HepoH3
responses/ru/ @HepoH3
tests/ru/ @HepoH3

sentences/uk/ @skynetua
responses/uk/ @skynetua
tests/uk/ @skynetua

sentences/ur/ @AalianKhan
responses/ur/ @AalianKhan
tests/ur/ @AalianKhan
