sentences/da/ @MTrab @fadamsen
responses/da/ @MTrab @fadamsen
tests/da/ @MTrab @fadamsen

sentences/de/ @Scorpoon
responses/de/ @Scorpoon
tests/de/ @Scorpoon

sentences/el/ @dsimop
responses/el/ @dsimop
tests/el/ @dsimop

sentences/fr/ @benjaminlecouteux
responses/fr/ @benjaminlecouteux
tests/fr/ @benjaminlecouteux

sentences/he/ @haim-b @leranp
responses/he/ @haim-b @leranp
tests/he/ @haim-b @leranp

sentences/hu/ @nagyrobi
responses/hu/ @nagyrobi
tests/hu/ @nagyrobi

sentences/it/ @auanasgheps @xraver
responses/it/ @auanasgheps @xraver
tests/it/ @auanasgheps @xraver

sentences/lt/ @ErnestStaug
responses/lt/ @ErnestStaug
tests/lt/ @ErnestStaug

sentences/nl/ @TheFes
responses/nl/ @TheFes
tests/nl/ @TheFes

sentences/pl/ @Uriziel01
responses/pl/ @Uriziel01
tests/pl/ @Uriziel01

sentences/ru/ @HepoH3
responses/ru/ @HepoH3
tests/ru/ @HepoH3

sentences/sr/ @cvladan
responses/sr/ @cvladan
tests/sr/ @cvladan

sentences/uk/ @skynetua
responses/uk/ @skynetua
tests/uk/ @skynetua

sentences/ur/ @AalianKhan
responses/ur/ @AalianKhan
tests/ur/ @AalianKhan
