body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

.container {
  padding: 12px 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .title {
  font-size: 2em;
}
header ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
header ul li {
  list-style: none;
}
header li a {
  display: inline-block;
  padding: 4px;
  margin: 0 4px;
  border-bottom: 2px solid transparent;
}

a {
  color: #03a9f4;
}

table {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.usable {
  background-color: rgba(0, 255, 0, 0.2);
}

th {
  background-color: #e3e3e3;
  padding: 4px;
}

td {
  text-align: right;
}

td:nth-child(1) {
  text-align: left;
  position: relative;
}

tr:hover td:nth-child(1):before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  bottom: 0;
  width: 4px;
  background-color: chocolate;
}

.zero {
  background-color: rgba(255, 0, 0, 0.2);
}

.zero.important {
  background-color: rgba(255, 0, 0, 0.5);
}

td a {
  display: block;
  padding: 4px;
  text-decoration: none;
  color: black;
}

td a:hover {
  background-color: #e3e3e3;
}

td.multiple a {
  display: inline-block;
}
