{% comment %}
<!-- prettier-ignore -->
{% endcomment %}
{% capture full_title -%}
{%- if title -%}
{{ title }} – Intents
{%- else -%}
Home Assistant Intents
{%- endif -%}
{%- endcapture %}
{% comment %}
<!-- prettier-unignore -->
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ full_title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <span class="title">Home Assistant Intents</span>
        <ul>
          <li>
            <a
              href="https://github.com/home-assistant/intents/blob/main/CONTRIBUTING.md"
              target="_blank"
              >How to contribute</a
            >
          </li>
          <li>
            <a href="https://github.com/home-assistant/intents" target="_blank"
              >GitHub</a
            >
          </li>
        </ul>
      </header>
      <div class="content">{{ content }}</div>
    </div>
  </body>
</html>
